.search-container {
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .add-movie-button {
    padding: 5px 10px;
    font-size: 12px; /* Kích thước chữ nhỏ hơn */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-movie-button:hover {
    background-color: #45a049;
  }
  
  .movie-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .movie-table th, .movie-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .movie-cover {
    width: 100px;
    height: auto;
  }
  
  .edit-button, .delete-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  /* Modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }
  
  .modal-content input,
  .modal-content textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333;
  }
  