/* CSS cho Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FF4500; /* Màu cam đỏ */
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
}

    .navbar-left h2 {
        margin: 0;
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
    }

.search-form {
    margin-left: 2rem;
    position: relative;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 0.5rem;
    border: none;
    background-color: #FF6347; /* Màu cam nhạt hơn */
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FF6347;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .search-dropdown li {
        padding: 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

        .search-dropdown li:hover {
            background-color: #ff6a00;
        }

.dropdown-image {
    width: 40px;
    height: 60px;
    object-fit: cover;
    margin-right: 0.5rem;
}

.navbar-right {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

    .navbar-right li {
        margin-left: 1rem;
        position: relative; /* Để dropdown menu căn chỉnh theo các thành phần */
    }

    .navbar-right a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        .navbar-right a:hover {
            background-color: #FF6347; /* Màu cam nhạt hơn */
        }

/* Dropdown menu */
.dropdown {
    position: relative;
 
}

.dropdown-menu {
    margin-top: 0.5rem;
    display: inline-block;
    color: #FF6347;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    background-color: #FF6347;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin-right: 0;
    z-index: 1000;
    min-width: 250px;
}

    .dropdown-menu li {
        padding: 0rem 0rem;
    }

        .dropdown-menu li a {
            color: #FFF;
            text-decoration: none;
            display: block;
            width: 80%;
            height: 100%;

        }

            .dropdown-menu li a:hover {
                background-color: #FF4500;
                
            }
